.homeContainer {
	min-height: 100%;
	background-image: linear-gradient(120deg, #333f63, #715c8c, #715c8c, #838bc2);
}

.topRow {
	position: relative;
	display: flex;
	justify-content: space-around;
}

.eyeTitleBox {
	display: flex;
	flex-direction: column;
}

.mainTitleBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.mainTitle {
	margin: 18px 0 28px;
	text-shadow: 0 0 4px black;
	font-size: 42px;
	font-family: 'Nosifer', cursive, sans-serif;
	font-weight: bold;
	text-align: center;
	user-select: none;
}

.mainTitle:hover {
	cursor: help;
}

.imgVerticalFlip {
	transform: rotateY(180deg);
}

.bottomRow {
	display: flex;
	justify-content: center;
}

@media (max-width: 992px) {
	.mainTitle {
		font-size: 36px;
	}
	
}

@media (max-width: 768px) {
	.sideImage {
		width: 90px;
	}
}

@media (max-width: 572px) {
	.mainTitle {
		font-size: 32px;
	}
}
