.infoPage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: black;
}

.infoPageTop {
	height: 20vh;
}

.topRow {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100vw;
	margin: 10px 0 0;
}

.horseHead {
	width: 60px;
	height: 60px;
}

.contactInfo {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: center;
	align-items: center;
}

.contactInfoEmail {
	margin: 0 12px;
	border: 2px dashed lime;
	padding: 8px;
	background: #771177dd;
	font-size: 1.5em;
	animation: colorChange 1s linear infinite;
	animation-play-state: paused;
}

.contactInfoEmail:hover {
	transition: linear;
	transition-duration: 0.5s;
	animation-play-state: running;
	text-decoration: underline wavy;
	cursor: help;
}

.emailImage {
	width: 100px;
	height: 60px;
}

.dumbText {
	display: inline-block;
	position: relative;
	left: 70vw;
	color: lightpink;
	width: 60vw;
	font-size: 8px;
}

@media (max-width: 700px) {
	.infoPageTop {
		height: 16vh;
	}
	.contactInfoEmail {
		font-size: 1.3em;
	}
	.emailImage {
		width: 80px;
		height: 50px;
	}
}

@media (max-width: 500px) {
	.infoPageTop {
		height: 16vh;
	}
	.horseHead {
		width: 45px;
		height: 45px;
	}
	.contactInfoEmail {
		font-size: 1.1em;
		margin: 0 6px;
	}
	.emailImage {
		width: 70px;
		height: 40px;
	}
	.dumbText {
		width: 80vw;
	}
}
