.infoPage {
	display: flex;
	flex-direction: column;
	background: radial-gradient(lightsteelblue, slateblue);
	min-height: 100%;
}

.topRow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.topRow .emailImageBox {
	margin: 12px 30px;
}

.emailImage {
	width: 100px;
	height: 60px;
}

.dumbText {
	display: inline-block;
	position: absolute;
	left: 70vw;
	color: lightpink;
	width: 60vw;
	font-size: 8px;
	overflow: none;
}

@media (max-width: 700px) {
	.contactInfoEmail {
		font-size: 1.3em;
	}

	.emailImageBox {
		width: 70px;
	}
}

@media (max-width: 500px) {
	/* .contactInfoEmail {
		font-size: 1.1em;
		margin: 0 6px;
	} */

	.emailImageBox {
		display: none;
	}
}
