.centerColumn {
	width: 580px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.mainTitleBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.mainImageTitle {
	margin: 0;
	padding: 0;
	font-size: 36px;
	font-family: 'Nosifer', cursive, sans-serif;
	font-weight: bold;
	text-align: center;
	user-select: none;
}

.mainImageTitle:hover {
	cursor: help;
}

.mainImageBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.mainImage {
	width: 200px;
	transition: 1s;
}

.invertProfile {
	filter: invert(100%);
}

.changeHue {
	box-shadow: 0 0 100px crimson;
	box-sizing: border-box;
	border: 5px maroon outset;
}

.centerImages {
	z-index: 2;
	opacity: 1;
}

@media (max-width: 600px) {
	.mainImageTitle {
		font-size: 24px;
	}
	.mainImage {
		max-width: 200px;
		width: 100%;
	}
}

@media (min-width: 1300px) {
	.mainImage {
		width: 300px;
	}
}
