.infoBottom {
	height: 80vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.pressContainer {
	margin: 0 auto;
	height: 100%;
	width: 60vw;
	min-width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pressQuoteContainer {
	height: 100%;
	border: 1px solid black;
	background: orange;
}

.pressQuotes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pressQuote {
	font-size: 0.8em;
	font-family: cursive;
	padding: 4px;
	margin: 8px;
	border-radius: 2px;
	background: lightyellow;
	color: purple;
	display: inline-block;
	text-overflow: ellipsis;
}

.pressLinkContainer {
	height: 100%;
	border: 1px dashed rosybrown;
	background: green;
}

.pressLinks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.pressLink {
	margin: 6px;
	padding: 8px;
	border-radius: 2px;
	background: darkblue;
	animation: colorChange 1s linear infinite;
	animation-play-state: paused;
	display: inline-block;
}

.pressLink:hover {
	cursor: help;
	animation-play-state: running;
}
.pressLink:hover p {
	text-decoration: underline wavy;
}

.pressHeading {
	margin: 4px;
	font-family: 'Sancreek', cursive;
	color: #500f0f;
	font-size: 1.6em;
	text-align: center;
}

.hotLinkHeading {
	width: 250px;
}

.hotLinks {
	min-width: 130px;
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.hotLink {
	animation: colorChange 1s linear infinite;
	animation-play-state: paused;
	background: purple;
	height: 50px;
	border-radius: 3px;
	margin: 4px;
	padding: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hotLink p {
	margin: 0;
	padding: 0;
	animation: linkTwerk 2s linear infinite alternate;
	animation-play-state: running;
}

.hotLink:hover {
	animation-play-state: running;
	text-decoration: underline wavy;
	cursor: help;
}

.horseVoteBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.horseVote {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;
}
.horseVote img {
	margin: 0 8px;
}

.horseVoteTitle {
	text-align: center;
	font-family: fantasy;
	color: red;
	margin: 6px 0 4px;
}

@keyframes linkTwerk {
	0% {
		font-size: 1em;
		transform: rotate(-2deg);
	}
	100% {
		font-size: 1.4em;
		transform: rotate(5deg);
	}
}

@media (max-width: 700px) {
	.infoPageBottom {
		height: 84vh;
	}
	.pressHeading {
		font-size: 1.4em;
	}
	.pressQuote {
		font-size: 0.7em;
		margin: 6px;
	}
	.pressLink {
		font-size: 0.9em;
		margin: 4px;
		padding: 6px;
	}
	.hotLinkHeading {
		width: 180px;
	}
	.hotLink {
		height: 40px;
	}
}

@media (max-width: 500px) {
	.infoPageBottom {
		height: 84vh;
	}
	.pressHeading {
		font-size: 1.2em;
	}
	.pressQuote {
		font-size: 0.6em;
		margin: 4px;
		padding: 2px;
	}
	.pressLink {
		font-size: 0.9em;
		margin: 4px;
		padding: 6px;
	}
	.hotLinkHeading {
		width: 150px;
		margin: 2px 0;
	}
	.hotLink {
		height: 30px;
	}
	.horseVoteTitle {
		font-size: 1em;
		margin: 2px 0;
	}
	@keyframes linkTwerk {
		0% {
			font-size: 0.8em;
			transform: rotate(-1deg);
		}
		100% {
			font-size: 1em;
			transform: rotate(3deg);
		}
	}
}

@media (min-width: 1300px) {
	.pressQuotes {
		flex-direction: column;
	}
	.pressQuote {
		font-size: 1em;
		font-family: cursive;
		padding: 6px;
		margin: 12px;
		border-radius: 4px;
	}
	.pressLink {
		font-size: 1.2em;
		margin: 8px;
		padding: 12px;
		border-radius: 4px;
	}
	.hotLinkHeading {
		width: 320px;
	}
	.hotLink {
		height: 60px;
		border-radius: 4px;
		margin: 6px;
		padding: 4px 12px;
	}
	@keyframes linkTwerk {
		0% {
			font-size: 1.2em;
			transform: rotate(-2deg);
		}
		100% {
			font-size: 1.6em;
			transform: rotate(5deg);
		}
	}
}
