.navContainer {
	position: relative;
	top: 0;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	border-radius: 3px;
	box-shadow: 1px 1px 2px grey;
	z-index: 20;
}

.navLink {
	z-index: 2;
	box-shadow: 3px 3px 2px gold;
	background: #44aaaa;
	background-image: linear-gradient(60deg, #44aaaa, #338888);
	border: 1px dotted purple;
	border-radius: 3px;
	margin: 8px;
	color: lightgreen;
	text-align: center;
	font-weight: 500;
}

.navLink:hover {
	cursor: help;
}

.navLink p {
	font-size: 28px;
	margin: 6px 8px;
	text-shadow: 3px 3px 2px black;
	animation: colorChange 1s linear infinite forwards;
	animation-play-state: paused;
	padding: 0;
}

.navLink:hover p {
	text-decoration: underline wavy;
	animation-play-state: running;
}

@keyframes colorChange {
	0% {
		color: lightgreen;
	}
	10% {
		color: darkorchid;
	}
	20% {
		color: darkcyan;
	}
	30% {
		color: violet;
	}
	40% {
		color: goldenrod;
	}
	50% {
		color: saddlebrown;
	}
	60% {
		color: crimson;
	}
	70% {
		color: blanchedalmond;
	}
	80% {
		color: darkolivegreen;
	}
	90% {
		color: lightskyblue;
	}
	100% {
		color: lightgreen;
	}
}

@media (max-width: 992px) {
	.navLink p {
		font-size: 20px;
	}
}

@media (max-width: 576px) {
  .navLink {
    margin: 6px 2px;
  }

	.navLink p {
		font-size: 16px;
	}
}
