/* a {
	text-decoration: none;
	cursor: inherit;
	color: inherit;
} */

/* .page {
	height: 90vh;
} */

.navContainer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	/* height: 10vh;
	min-height: 10vh;
  max-height: 10vh; */
	border-radius: 3px;
	border: 2px double maroon;
	box-shadow: 1px 1px 2px grey;
}

.navLink {
	z-index: 2;
	box-shadow: 3px 3px 2px gold;
	background: #44aaaa;
	background-image: linear-gradient(60deg, #44aaaa, #338888);
	border: 1px dotted purple;
	border-radius: 3px;
	margin: 4px;
	/* padding: 4px 8px; */
	/* height: 24px; */
	color: lightgreen;
	animation: colorChange 1s linear infinite forwards;
	animation-play-state: paused;
	text-align: center;
	font-weight: 500;
}
.navLink p {
	font-size: 28px;
	margin: 6px 8px;
	text-shadow: 3px 3px 2px black;
}

.normalNav:hover {
	cursor: help;
	animation-play-state: running;
}

.normalNav:hover p {
	/* font-size: 25px !important; */
	/* margin: -5px 0; */
	text-decoration: underline wavy;
}

/* #moreCat {
	display: block;
	animation: navDrop 0.5s ease-in infinite forwards;
	animation-play-state: paused;
}

#moreCat:hover {
	animation-play-state: running;
	cursor: help;
} */

@keyframes navDrop {
	0% {
		margin-top: 0px;
	}
	100% {
		margin-top: 100px;
	}
}

@keyframes colorChange {
	0% {
		color: lightgreen;
	}
	10% {
		color: darkorchid;
	}
	20% {
		color: darkcyan;
	}
	30% {
		color: violet;
	}
	40% {
		color: goldenrod;
	}
	50% {
		color: saddlebrown;
	}
	60% {
		color: crimson;
	}
	70% {
		color: blanchedalmond;
	}
	80% {
		color: darkolivegreen;
	}
	90% {
		color: lightskyblue;
	}
	100% {
		color: lightgreen;
	}
}

@media (max-width: 576px) {
	.navLink {
		/* height: 20px; */
	}
	.navLink p {
		/* font-size: 17px; */
	}
	.normalNav:hover p {
		/* font-size: 21px !important; */
	}
	.moreCat {
		/* display: none; */
	}
}

@media (min-width: 992px) {
	.navLink {
		/* height: 28px; */
		/* padding: 6px 8px; */
	}
	.navLink p {
		/* font-size: 24px; */
	}
	.normalNav:hover p {
		/* font-size: 32px !important; */
	}
}
