.contactInfo {
	border: 2px dashed lime;
	border-radius: 6px;
	margin: 12px;
}

.contactInfoEmail {
	margin: 8px;
	padding: 0 16px;
	color: greenyellow;
	font-size: 2em;
	font-family: 'Fredoka One', sans-serif;
	text-shadow: 0 0 4px black;
	font-style: italic;
	font-weight: bold;
}

.contactInfoEmail:hover {
	/* cursor: help; */
}

@media (max-width: 992px) {
	.contactInfoEmail {
		margin: 6px;
  }
}

@media (max-width: 768px) {
	.contactInfo {
		margin: 16px;
	}
  .contactInfoEmail {
    font-size: 1.7em;
    padding: 0 8px;
  }
}

@media (max-width: 572px) {
	.contactInfo {
		margin: 4px;
	}

  .contactInfoEmail {
    font-size: 1.4em;
    margin: 4px;
    padding: 0 6px;
  }
}
