.infoQuotesLinks {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
}

.pressContainer {
	width: 60vw;
	min-width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pressHeading {
	margin: 4px;
	font-family: 'Sancreek', cursive;
	color: #300f0f;
	font-size: 1.6em;
	text-align: center;
	text-shadow: 1px 1px 8px whitesmoke;
}

.pressQuoteContainer {
	height: 100%;
	border: 1px dashed black;
	background: orange;
}

.pressQuotes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pressQuote {
	font-size: 1em;
	font-family: cursive;
	padding: 4px;
	margin: 8px;
	border-radius: 2px;
	background: lightyellow;
	color: purple;
	display: inline-block;
	text-overflow: ellipsis;
}

.pressLinkContainer {
	height: 100%;
	background: rgb(119, 194, 190);
	border: 1px dashed black;
}

.pressLinks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.pressLink {
	margin: 6px;
	padding: 8px;
	border-radius: 2px;
	font-style: italic;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
	font-size: 20px;
	animation: colorChange 2s linear infinite;
	animation-play-state: paused;
}

.pressLink:hover {
	cursor: help;
	animation-play-state: running;
}

.hotLinks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.hotLink {
	margin: 16px;
	font-family: 'Fredoka One', Helvetica, sans-serif;
	font-size: 20px;
	/* text-shadow: 2px 2px 1px black; */
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		2px 2px 2px #000;
	color: lightcoral;
	/* display: inline; */
}

.hotLink:hover {
	cursor: help;
}

.hotLinkTitleBox {
	height: 50px;
	max-height: 50px;
}

.hotLinkTitle {
	font-style: italic;
	margin: 0;
	font-family: 'Fredoka One', Helvetica, sans-serif;
	text-shadow: 2px 2px 2px black;
	color: cyan;
	animation: linkTwerkHeading 3s linear infinite alternate;
	animation-play-state: running;
}

@keyframes linkTwerkHeading {
	0% {
		font-size: 1.4em;
		transform: rotate(5deg);
	}
	100% {
		font-size: 2em;
		transform: rotate(-2deg);
	}
}
@keyframes linkTwerk {
	0% {
		font-size: 1.2em;
		transform: rotate(-1deg);
	}
	100% {
		font-size: 1.4em;
		transform: rotate(3deg);
	}
}
@keyframes colorChange {
	0% {
		color: goldenrod;
	}
	50% {
		color: darkmagenta;
	}
	100% {
		color: goldenrod;
	}
}

@media (max-width: 992px) {
	.pressHeading {
		font-size: 1.4em;
	}
	.pressQuote {
		font-size: 0.85em;
		margin: 6px;
	}
	.pressLink {
		font-size: 1.1em;
		margin: 4px;
		padding: 6px;
	}
}

@media (max-width: 768px) {
	.pressHeading {
		font-size: 1.2em;
	}
}

@media (max-width: 572px) {
	.infoQuotesLinks {
		flex-direction: column-reverse;
	}
	.pressContainer {
		width: auto;
		margin: 0 12px;
	}
	.pressHeading {
		font-size: 1em;
		margin: 0;
	}
	.pressQuote {
		font-size: 0.7em;
		line-height: 110%;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
			sans-serif;
		margin: 3px;
	}
	.pressLink {
		font-size: 0.9em;
		margin: 0;
	}
	.hotLinkTitle {
		margin: 12px;
	}
	.hotLink {
		margin: 4px 12px;
	}
	.hotLinksBox {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 100vw;
	}
	@keyframes linkTwerkHeading {
		0% {
			font-size: 1em;
			transform: rotate(5deg);
		}
		100% {
			font-size: 1.25em;
			transform: rotate(-2deg);
		}
	}
	@keyframes linkTwerk {
		0% {
			font-size: 0.9em;
			transform: rotate(-1deg);
		}
		100% {
			font-size: 1.1em;
			transform: rotate(3deg);
		}
	}
}
