.ticker-box {
	width: 100%;
  padding-left: 100%;
	overflow: hidden;
	background-color: black;
	overflow: hidden;
	box-sizing: content-box;
  --duration: 15s;
}

.ticker {
  display: inline-block;
  padding-right: 100%;
  white-space: nowrap;
	animation: ticker-scroll var(--duration) linear infinite;
}

.ticker-item {
  padding: 0 20px;
	margin: 6px 0;
	display: inline-block;
	font-size: 32px;
	font-family: 'Macondo Swash Caps', cursive;
	color: red;
}

@keyframes ticker-scroll {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-100%, 0, 0);
	}
}
