.mediaPage {
	overflow-y: scroll;
	height: 90vh;
	background: linear-gradient(to right, #9894b8, #49acaf, #9894b8);
}

.mediaPhoto {
	max-height: 300px;
	margin: 4px;
	box-shadow: black 2px 2px 6px;
	transition: linear;
	transition-duration: 1s;
}

.mediaPhoto:hover {
	cursor: help;
	box-sizing: border-box;
	filter: invert(100%) brightness(130%);
	transition: ease-in;
	transition-duration: 8s;
}

.mediaHeading {
	font-family: cursive;
	color: lime;
	text-align: center;
}

.videoBox {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.imageGallery {
	margin: 20px auto;
	width: 60vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.loader {
	height: 315px;
}
